<a href="https://colab.research.google.com/github/alepenaa94/Datos1-2C-2019/blob/master/DATOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datos TP1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as clr
import matplotlib.dates as md
import seaborn as sns
import datetime as datetime
import numpy as np
import os.path

%matplotlib inline

plt.style.use('default')

sns.set(style="whitegrid")

In [2]:
df = pd.read_csv('Data/train.csv')

In [3]:
df.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,NaN,NaN,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0

In [4]:
df.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')

In [5]:
df.shape

(240000, 23)

# Ciudades de Mexico

Usamos un set de datos de ciudades de Mexico para obtener las latitudes y longitudes faltantes en el set de datos.

http://download.geonames.org/export/dump/MX.zip

In [6]:
df[['lat','lng','ciudad']].head()

         lat        lng                  ciudad
0        NaN        NaN           Benito Juárez
1  19.310205 -99.227655  La Magdalena Contreras
2        NaN        NaN                  Tonalá
3  19.301890 -99.688015            Zinacantepec
4        NaN        NaN                 Zapopan

In [7]:
columnas = ['geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude', 'feature class', 'feature code',
            'country code', 'cc2', 'admin1 code', 'admin2 code', 'admin3 code', 'admin4 code', 'population', 'elevation',
            'dem', 'timezone', 'modification date']
aux_cities = pd.read_csv('Data/MX Cities/MX.txt', sep='\t', header=None, names=columnas,low_memory=False)

In [8]:
aux_cities.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,1524323,Arroyo del Durazno,Arroyo del Durazno,"Arroyo Durazno,Arroyo del Durazno,Ekibastuz,Ek...",26.81893,-106.55746,H,STMI,MX,NaN,6.0,NaN,NaN,NaN,0,NaN,1806,America/Chihuahua,2014-04-30
1,1555414,Santa Fe,Santa Fe,NaN,29.01048,-101.26557,P,PPL,MX,NaN,7.0,38.0,NaN,NaN,0,NaN,503,America/Monterrey,2015-06-22
2,1755675,Masisilau,Masisilau,"Masisilau,San Francisco",21.99839,-101.15855,P,PPL,MX,NaN,24.0,46.0,NaN,NaN,0,NaN,2206,America/Mexico_City,2015-06-22
3,1818178,Wardlow,Wardlow,"Canal Wardlow,Wardlow",32.55064,-115.33943,H,CNL,MX,NaN,2.0,NaN,NaN,NaN,0,NaN,8,America/Tijuana,2013-07-05
4,1818179,Los Carapilas,Los Carapilas,NaN,32.01389,-115.01611,P,PPL,MX,NaN,2.0,2.0,NaN,NaN,0,NaN,2,America/Tijuana,2015-06-22

In [9]:
aux_cities['name'].value_counts().head()

San Antonio      1233
San José         1011
San Isidro        943
San Francisco     939
San Juan          813
Name: name, dtype: int64

In [10]:
df2 = pd.merge(df.loc[(df['lat'].isnull())&(df['lat'].isnull())][['id','ciudad']],
               aux_cities[['name','latitude','longitude']].drop_duplicates(subset='name'),
               left_on='ciudad',right_on='name',how='left')

In [11]:
df2 = df2[['id','latitude','longitude']]
df2.columns = ['id','lat','lng']

In [12]:
df2 = pd.merge(df,df2,on='id',how='left')

In [13]:
df2['lat_y'].fillna(value=0,inplace=True)
df2['lng_y'].fillna(value=0,inplace=True)
df2['lat_x'].fillna(value=0,inplace=True)
df2['lng_x'].fillna(value=0,inplace=True)

df2['lat_x'] = df2['lat_x'] + df2['lat_y']
df2['lng_x'] = df2['lng_x'] + df2['lng_y']

df2.rename(columns={'lng_x': 'longitud', 'lat_x': 'latitud'},inplace=True)
del df2['lng_y']
del df2['lat_y']

In [14]:
df2.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,latitud,longitud,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,22.490680,-98.026470,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,18.210550,-94.129450,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,18.211970,-95.271140,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0

### Ver que datos podrian ser útiles del set externo ... densidad de poblacion y demas.